#members, #tbl, #tbl2, #billInfo{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

#congress{
    width: 300px;
}


.ui-menu{
    width: 200px;
    font-family: arial, sans-serif;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
}

#seal{
    height: 150px;
    width:150px;
}


#header{
    font-size: 40px;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    line-height: 100px;
}

#vert{
    border: 1px black solid;
    vertical-align: middle;
}

h2{
    font-size: 40px;
    font-family: 'Alfa Slab One', cursive;
}

body{
    font-family: arial, sans-serif;
    background-image: url("img/capitalbuilding.jpg");
    background-size: 100%;

}
.ui-menu-item-wrapper:hover{
    background-color: lightgray;
}

#mainMenu{
    text-align:center;
}

button, select, input{
    background-color: white;
    margin-right:auto;
    margin-left:auto;
    color: black;
    font-family: arial, sans-serif;
    text-align: center;
    height: 30px;
    width: 150px;
    font-size: 15px;
}

button:hover{
    background-color: lightgray;
}

.billRow:hover{
    background-color: lightgray;
}

tr{
    background-color: white;
}

#billPage, #memberPage, #senatorsByState{
    background-color: rgba(255, 255, 255, 0.75);

}

