#members, #tbl, #tbl2, #billInfo{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

#congress{
    width: 300px;
}


.ui-menu{
    width: 200px;
    font-family: arial, sans-serif;
    margin-left:auto;
    margin-right:auto;
    background-color:   #e6e6e6;
}

/*.ui-menu-item{*/
    /*height: 28px;*/
/*}*/

#header{
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
}

body{
    font-family: arial, sans-serif;
}

#mainMenu{
    text-align:center;
}

button, select, input{
    background-color: white;
    margin-right:auto;
    margin-left:auto;
    color: black;
    font-family: arial, sans-serif;
    text-align: center;
    height: 30px;
    width: 150px;
    font-size: 15px;
}

button:hover{
    background-color: lightgray;
}

.billRow:hover{
    background-color: lightgray;
}

/*.collapsible {*/
    /*background-color: #eee;*/
    /*color: #444;*/
    /*cursor: pointer;*/
    /*padding: 18px;*/
    /*width: 100%;*/
    /*border: none;*/
    /*text-align: left;*/
    /*outline: none;*/
    /*font-size: 15px;*/
/*}*/

/*!* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) *!*/
/*.active, .collapsible:hover {*/
    /*background-color: #ccc;*/
/*}*/

/*!* Style the collapsible content. Note: hidden by default *!*/
/*.content {*/
    /*padding: 0 18px;*/
    /*display: none;*/
    /*overflow: hidden;*/
    /*background-color: #f1f1f1;*/
/*}*/
